@page
@model RazorPages1.Pages.Alumnos.EditModel
@{
    var photo = "~/images/" + (Model.alumno.Foto ?? "noimage.jpg");
    var titulo = Model.alumno.Id > 0 ? "Editar" : "Crear";
}
<h1 align="center">@titulo alumno</h1>
<form method="post" class="mt-3" enctype="multipart/form-data">
    <input type="hidden" asp-for="alumno.Id" />
    <input id="lafoto" type="hidden" asp-for="alumno.Foto" />
    <div class="form-group row">
        <label asp-for="alumno.Nombre" class="col-sm-2 col-form-label"></label>/>
        <div class="col-sm-10">
            <input asp-for="alumno.Nombre" class="form-control" placeholder="Nombre" />
            <span asp-validation-formaction="alumno.Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="alumno.Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="alumno.Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="alumno.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="alumno.CursoID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="alumno.CursoID" class="form-select mb-3"
                asp-items="Html.GetEnumSelectList<Curso>()">
                <option value="">Selecciona uno</option>
            </select>
            <span asp-validation-for="alumno.CursoID" oncancel="text-danger"></span>
        </div>
    </div>

    <div class="form-froup row">
        <div class="col-sm-10"
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="/Alumnos/Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    <div class="form-froup row">
        <div class="col-sm-10">
            <button type="submit" value="alumno.Foto" onchange="lafoto.value=this.value.substring(this.value.lastIndexOf('\\')+1)" />
            <a asp-page="/Alumnos/Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>